
@media(max-width:1100px){
    #gallery nav{
        display: inline-table;
        width: 100%;
    }

}
@media(min-width:1101px){
    #gallery nav{
        display: inline-block;
        width: 45%;
    }
    iframe{
        margin-left: 25%;
    }
    .casa{
        margin-left: 30%;
    }

}

@media (max-width: 760px){
    #menu ul li{

        width: 100%;
        display:inline-table;
    }
}
@media(min-width:761px){
    #menu ul li{
        display: inline-block; 
        width: 24%;
    }
}
@media (max-width:1000px){
    .parrafo img{
        float: none;
    }
    #grande nav{
        display:inline-table ;
        text-align: center;
        width: 100%;
    }
    .parrafo img{
        width: 200px;
        margin-right: 5%;
        float:none;
    }
}
@media(min-width:1001px){
    .parrafo{
        display: flex;
    }
    #grande nav{
        display:inline-block ;
        text-align: center;
        width: 33%;
    }
    .parrafo img{
        width: 200px;
        margin-right: 5%;
        float: left;
    }
   
}

body{
    background-image: url(src/fondo3.jpg);
    font-family:"Comic Sans MS", "Comic Sans", cursive, Arial, Helvetica, sans-serif;
    
    background-size: 100vw 100vh;
    }

#menu{
    background-color: rgb(226, 30, 226);
    width: 100%;
    border-radius: 15px;
    }
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }

#menu ul li a{
    color: white; 
    text-decoration: none; 
    display: block; 
    padding: 20px;}
#menu ul li a:hover{
    background-color: blue; 
    color: rgb(144, 255, 116);
}
#seleccionado{
    background-color: rgb(226, 117, 248);
}
h1{
    text-align: center;
}

.cuerpo{
background-color: #29e6ff;
margin: 0;
padding: 0;
width: 100%;
border-radius: 15px;
}

.parrafo p{
    text-align: center;

}
.cuerpo p{
    margin-left: 5%;
    line-height: 2;
}

p::selection{
    background: greenyellow;
    color: purple;
}
.cuerpo h2{
    margin-left: 10%;
}


#grande nav img{
    width: 200px;
}
#grande p{
    background-color: rgb(16, 141, 0);
    color: white;
    border-radius: 30%;
}

/*footer*/
footer{
    margin-top: 2%;
    background-color:  rgb(226, 30, 226);
    width: 100%;
    color: white;
}
footer div {
    display: inline-block;
}
#menu2{
    width: 20%;
    margin: 0;
    padding: 0;
    margin-top: 2%;
}
#datos{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 74%;
}
#menu2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }
#menu2 ul li a{
    color: white; 
    text-decoration: none; 
    display: block; 
    padding: 7px;
}
#menu2 ul li a:hover{
    background-color: rgb(0, 119, 255); 
    color: rgb(144, 255, 116);
}
/*fin de footer*/

#gallery nav{
    margin-top: 10%;
    text-align: center;
}
#gallery nav img{
    width: 500px;
}
#gallery p{
    background-color: rgb(16, 141, 0);
    color: white;
    border-radius: 30%;
}


.casa img{
    width: 500px;
    
}
form{
    border-radius: 5%;
    background-color: rgb(176, 255, 255);
    margin: 10%;
    padding-bottom: 10%;
}

form input{
    margin-left: 10%;
    background-color: greenyellow;
    color: blueviolet;
}
form nav.peque{
    display: inline-block;
    width: 33%;
}
form nav.big{
    display: inline-block;
    width: 100%;
}
textarea{
    margin-left: 10%;
    background-color: greenyellow;
    color: blueviolet;
}
select{
    margin-left: 10%;
    background-color: greenyellow;
    color: blueviolet;
}
.botones{
align-items: center;
 margin-top: 100px;
 display: inline-block;
 width: 40;
}
.botones input{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.botones input:hover{
    background-color: blueviolet;
    color: white;
}
.datosrick {
    background-color: rgb(43, 255, 0);
    color: rgb(38, 0, 255);
    border-radius: 5%;
    margin-right: 70%;
    
}
p.ocupar{
    color:#29e6ff ;
}

