body{
    background-image: url(src/fondo3.jpg);
    font-family:"Comic Sans MS", "Comic Sans", cursive, Arial, Helvetica, sans-serif;
    
    background-size: 100vw 100vh;
    }

#menu{
    background-color: rgb(226, 30, 226);
    width: 100%;
    border-radius: 15px;
    }
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }
#menu ul li{
    display: inline-block; 
    width: 24%;
}
#menu ul li a{
    color: white; 
    text-decoration: none; 
    display: block; 
    padding: 20px;}
#menu ul li a:hover{
    background-color: blue; 
    color: rgb(144, 255, 116);
}
#seleccionado{
    background-color: rgb(226, 117, 248);
}
h1{
    text-align: center;
}

.cuerpo{
background-color: #29e6ff;
margin: 0;
padding: 0;
width: 100%;
border-radius: 15px;
}
.parrafo{
    display: flex;
}
.parrafo p{
    text-align: center;

}
.cuerpo p{
    margin-left: 5%;
    line-height: 2;
}
.parrafo img{
    width: 200px;
    margin-right: 5%;
    float: left;
}
p::selection{
    background: greenyellow;
    color: purple;
}
.cuerpo h2{
    margin-left: 10%;
}

#grande nav{
    display:inline-block ;
    text-align: center;
    width: 33%;
}
#grande nav img{
    width: 200px;
}
#grande p{
    background-color: rgb(16, 141, 0);
    color: white;
    border-radius: 30%;
}
footer{
    margin-top: 2%;
    background-color:  rgb(226, 30, 226);
    width: 100%;
    color: white;
}
footer div {
    display: inline-block;
}
#menu2{
    width: 20%;
    margin: 0;
    padding: 0;
    margin-top: 2%;
}
#datos{
    padding: 0;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 74%;
}
#menu2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }
#menu2 ul li a{
    color: white; 
    text-decoration: none; 
    display: block; 
    padding: 7px;
}
#menu2 ul li a:hover{
    background-color: rgb(0, 119, 255); 
    color: rgb(144, 255, 116);
}