body{
    background-image: url(src/fondo3.jpg);
    font-family:"Comic Sans MS", "Comic Sans", cursive, Arial, Helvetica, sans-serif;
    }
#fondoaz{
    background-color: rgb(0, 255, 221);
    color: rgb(0, 0, 0);
    width: 100%;
    justify-content: space-between;
    }
#menu{
    background-color: rgb(226, 30, 226);
    padding: 10;
    width: 100%;
    }
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }
#menu ul li{
    display: inline-block; 
    width: 22%;
}
#menu ul li a{
    color: white; 
    text-decoration: none; 
    display: block; 
    padding: 20px;}
#menu ul li a:hover{/*itinererios*/
    background-color: blue; 
    font-size: large; 
    color: rgb(144, 255, 116);
}
#seleccionado{
    background-color: rgb(226, 117, 248);
}
#fondoaz h1{
    text-align: center;
}
#parr1{
    vertical-align: top;
    width: 75%;
    
}
#img1{
    width: 25%;
}
#itinererios{
    padding: 0;
    margin: 0;
}
#itinererios div{
    display: table-cell;
}


