
@media(min-width: 321px){
    #izquierda{
        width: 350px; height: 1100px; float: left;
    }
    #derecha{
        width: 650px;float: left; height: 1100px;
    }
}
@media(max-width: 320px){
    #izquierda{
        width: 1000px;  height: 1100px;
    }
    #derecha{
        width: 1000px; height: 1100px;
    }
    
}

body{width: 1000px; margin: 0 auto;}
#izquierda{margin: 0; padding: 0; background-color: rgb(157, 250, 250); }
#izquierda h1{text-align: center; background-color: rgb(37, 193, 255);}
#izquierda img.perfil{width: 50%; margin-top: 15%; margin-left:25%; margin-bottom: 15%;}
*{font-family:Arial, Helvetica, sans-serif;}
hr{margin-top: 0;}
ul{list-style-type: none; margin-left: 5px; padding: 0; }

#derecha{margin: 0; padding: 0;}

#derecha h2.formacion{margin-top: 0;}
#izquierda img{width: 23%; margin: 0; padding: 0;}
#derecha h2{margin-top: 15%; background-color: rgb(37, 193, 255);}
#izquierda div.contacto{margin-top: 400px;}
th{margin: 0;padding-right: 10px; padding-left: 10px; background-color: rgb(121, 224, 255); padding-top: 0;padding-bottom: 0;}
th.sip{background-color: blue;}
th.aptitud{background-color: white; text-align: left;}
